#root {
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.exit {
  position: fixed;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
  left: 0;
  margin: 30px;
  pointer-events: all;
}

.opti {
  position: fixed;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
  right: 0;
  margin: 30px;
  pointer-events: all;
}

.info {
  position: fixed;
  background-color: yellow;
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
  right: 0;
  margin: 30px 80px;
  pointer-events: all;
}

.testoverlay {
  position: fixed;
  top: 15px;
  left: 10px;
  margin: 0;
  padding: 0;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}

.pbg {
  pointer-events: all;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.575);
}

.pmenu {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.pmenu .labe {
  pointer-events: all;
  user-select: none;
  z-index: 11;
  margin: 10px;
}

.pmenu h2 {
  font-size: xx-large;
}

.scene {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
